/* html,
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

h1.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;

}

.level-left .level-item {
    border-left: solid 1px #eee;
}

.level-right .level-item {

    border-right: solid 1px #eee;
}

li {
    display: inline-block;
}

.bgimage {
    background-color: gray;
    background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page296/listrace/assets/images/banner.jpg) !important;
    background-size: contain;
}

.has-text-centered {
    margin-top: -250px;
}

.single-welcome-hero-form {
    background-color: white;
}



.btn-search {
    margin-top: 1px;
}



.card {
    border-radius: 10px;
}

.label {
    background-color: white !important;
} */

html,
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

.my-7 {
    margin-top: 100px;
    margin-bottom: 200px;
}

.is-link {
    background-color: hsl(348, 100%, 61%) !important;

}

.is-link:hover {
    background-color: hsl(348, 86%, 43%) !important;
}

.bgimage {
    background-color: gray;
    background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page296/listrace/assets/images/banner.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}



h1.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;

}

.cards {
    transform: translateY(50%);
}

#how-work .card:hover,
.cards .card:hover {
    background-color: hsl(348, 86%, 43%) !important;
}

#how-work .card:hover .title,
#how-work .card:hover .subtitle,
.cards .card:hover .title,
.cards .card:hover .subtitle {
    color: white !important;

}

.icon-how-work {
    border-radius: 50%;
}

.card:hover .icon-how-work {
    background-color: #fff;
}

.card:hover .icon-how-work p {
    color: red;
}

.explore-price-box {
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;
}

.info .border-left {
    border-left: solid 1px #eee;
}

.countainer .client {
    transition: all 800ms linear 0s;
    transform: translate3d(-280px, 0px, 0px);
    animation: client linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%) 6s infinite
}


@keyframes client {

    0% {
        transition: all 800ms ease 0s;
        transform: translate3d(-280px, 0px, 0px);
    }

    58% {
        transition: all 1400ms ease 0s;
        transform: translate3d(280px, 0px, 0px);
    }

    60% {
        transition: all 1400ms ease 0s;
        transform: translate3d(280px, 0px, 0px);
    }

    100% {
        transition: all 800ms ease 0s;
        transform: translate3d(-280px, 0px, 0px);
    }
}

.return-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 9999;
    width: 40px;
    height: 40px;
    display: none;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.16), 0 -4px 16px rgba(0, 0, 0, 0.33);
}

.return-to-top:hover {
    transform: translateY(-10px);
}

.return-to-top i {
    position: relative;
    animation: example 1s infinite alternate;
}

@keyframes example {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 7px;
    }
}