html,
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.my-7 {
    margin-top: 100px;
    margin-bottom: 200px;
}

.mt-7 {
    margin-top: 100px;
}

.is-link {
    background-color: hsl(348, 100%, 61%) !important;
}

.is-link:hover {
    background-color: hsl(348, 86%, 43%) !important;
}

button,
form,
.has-background-white {
    border-radius: 6px;
}

.bgimage {
    background-color: rgb(202, 199, 199);
    background-image: url("skyline_00000.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
}



h1.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;
}

.location,
.whats {
    outline: none;
    border: none;
}

.hero .hero-body .container .subtitle {
    opacity: 1 !important;
}

.cards {
    transform: translateY(70%);
}

#how-work .card,
.cards .card {
    transition: .8s;

}

#how-work .card:hover,
.cards .card:hover {
    background-color: hsl(348, 86%, 43%) !important;
    transition: .8s;
}

#how-work .card .title,
#how-work .card .subtitle,
.cards .card .title,
.cards .card .subtitle {
    transition: .8s;

}

#how-work .card:hover .title,
#how-work .card:hover .subtitle,
.cards .card:hover .title,
.cards .card:hover .subtitle {
    color: white !important;
    transition: .8s;
}

.icon-how-work {
    border-radius: 50%;
}

#how-work .container .card .icon-how-work {
    transition: .8s;

}

#how-work .container .card:hover .icon-how-work {
    background-color: #fff !important;
    transition: .8s;
}

#how-work .container .card .icon-how-work p {
    transition: .8s;

}

#how-work .container .card:hover .icon-how-work p {
    color: hsl(348, 86%, 43%) !important;
    transition: .8s;
}

.explore-price-box {
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;
}

.info .border-left {
    border-left: solid 1px #eee;
}



.swiper {
    width: 25em;
    height: 250px;
}

.swiper-slide {
    border-radius: 5px;
    transition: .5s linear;
}

/* .swiper-button-prev {
    margin-right: 20px !important;
} */

:root {
    --swiper-theme-color: #f14668;
}

.container .columns .column .card {
    transition: 0.8s;

}

.container .columns .column .card:hover {
    box-shadow: 0 .5em 1em 6px gray, 0 0 0 1px rgba(10, 10, 10, .02) !important;
    transition: all 0.8s;
}

.container .swiper .swiper-wrapper .swiper-slide .card {
    transition: 0.8s;

}

.container .swiper .swiper-wrapper .swiper-slide .card:hover {
    box-shadow: 0 .5em 1em 6px gray, 0 0 0 1px rgba(10, 10, 10, .02) !important;
    transition: all 0.8s;
}

.blog .container .columns .column .card:hover .title {
    color: rgb(218, 24, 24) !important;
}

.return-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 9999;
    width: 40px;
    height: 40px;
    display: none;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.16), 0 -4px 16px rgba(0, 0, 0, 0.33);
}

.return-to-top:hover {
    transform: translateY(-10px);
}

.return-to-top i {
    position: relative;
    animation: example 1s infinite alternate;
}


.level-right ul li {
    display: inline-block;
    margin-left: 5px;
}

.nav-bottom {
    display: block;
}

@keyframes example {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 7px;
    }
}